.u-varia {
  background-image: url('../icons/usage/varia.png');
}
.u-smz3 {
  background-image: url('../icons/usage/smz3.png');
}
.u-maprando {
  background-image: url('../icons/usage/maprando.png');
}
.u-commercial {
  background-image: url('../icons/usage/commercial.png');
}
.u-global {
  background-image: url('../icons/usage/global.png');
}
.u-no {
  background-image: url('../icons/usage/no.png');
}
