[class*=" icon-custom-"],
[class^=icon-custom-] {
  width:            16px;
  height:           24px;
  vertical-align:   bottom;
  background-image: url(https://miketrethewey.github.io/alttpr-collection/snes/zelda3/link/sheets/previews/sprites.31.0.8.x.44.png);
}
.icon-custom-Random                    {background-position:0 0}
.icon-custom-Link                      {background-position:-100.000000% 0}/*   1/343 */
.icon-custom-FourSwordsLink            {background-position: -99.708455% 0}/*   2/343 */
.icon-custom-Abigail                   {background-position: -99.416910% 0}/*   3/343 */
.icon-custom-Adol                      {background-position: -99.125364% 0}/*   4/343 */
.icon-custom-Aggretsuko                {background-position: -98.833819% 0}/*   5/343 */
.icon-custom-Alice                     {background-position: -98.542274% 0}/*   6/343 */
.icon-custom-AngryVideoGameNerd        {background-position: -98.250729% 0}/*   7/343 */
.icon-custom-Arcane                    {background-position: -97.959184% 0}/*   8/343 */
.icon-custom-Ark-NoCape                {background-position: -97.667638% 0}/*   9/343 */
.icon-custom-Ark-Cape                  {background-position: -97.376093% 0}/*  10/343 */
.icon-custom-Arrghus                   {background-position: -97.084548% 0}/*  11/343 */
.icon-custom-Astronaut                 {background-position: -96.793003% 0}/*  12/343 */
.icon-custom-Asuna                     {background-position: -96.501458% 0}/*  13/343 */
.icon-custom-Badeline                  {background-position: -96.209913% 0}/*  14/343 */
.icon-custom-BananasInPyjamas          {background-position: -95.918367% 0}/*  15/343 */
.icon-custom-Bandit                    {background-position: -95.626822% 0}/*  16/343 */
.icon-custom-Batman                    {background-position: -95.335277% 0}/*  17/343 */
.icon-custom-Beau                      {background-position: -95.043732% 0}/*  18/343 */
.icon-custom-Bewp                      {background-position: -94.752187% 0}/*  19/343 */
.icon-custom-BigKey                    {background-position: -94.460641% 0}/*  20/343 */
.icon-custom-Birb                      {background-position: -94.169096% 0}/*  21/343 */
.icon-custom-Birdo                     {background-position: -93.877551% 0}/*  22/343 */
.icon-custom-BlackMage                 {background-position: -93.586006% 0}/*  23/343 */
.icon-custom-BlacksmithLink            {background-position: -93.294461% 0}/*  24/343 */
.icon-custom-Blazer                    {background-position: -93.002915% 0}/*  25/343 */
.icon-custom-Blossom                   {background-position: -92.711370% 0}/*  26/343 */
.icon-custom-Bob                       {background-position: -92.419825% 0}/*  27/343 */
.icon-custom-BobRoss                   {background-position: -92.128280% 0}/*  28/343 */
.icon-custom-BocotheChocobo            {background-position: -91.836735% 0}/*  29/343 */
.icon-custom-Boo2                      {background-position: -91.545190% 0}/*  30/343 */
.icon-custom-Boo                       {background-position: -91.253644% 0}/*  31/343 */
.icon-custom-BottleoGoo                {background-position: -90.962099% 0}/*  32/343 */
.icon-custom-BotWLink                  {background-position: -90.670554% 0}/*  33/343 */
.icon-custom-BotWZelda                 {background-position: -90.379009% 0}/*  34/343 */
.icon-custom-Bowser                    {background-position: -90.087464% 0}/*  35/343 */
.icon-custom-BowsetteRed               {background-position: -89.795918% 0}/*  36/343 */
.icon-custom-Bowsette                  {background-position: -89.504373% 0}/*  37/343 */
.icon-custom-Branch                    {background-position: -89.212828% 0}/*  38/343 */
.icon-custom-Brian                     {background-position: -88.921283% 0}/*  39/343 */
.icon-custom-Broccoli                  {background-position: -88.629738% 0}/*  40/343 */
.icon-custom-Bronzor                   {background-position: -88.338192% 0}/*  41/343 */
.icon-custom-BSBoy                     {background-position: -88.046647% 0}/*  42/343 */
.icon-custom-BSGirl                    {background-position: -87.755102% 0}/*  43/343 */
.icon-custom-Bubbles                   {background-position: -87.463557% 0}/*  44/343 */
.icon-custom-BulletBill                {background-position: -87.172012% 0}/*  45/343 */
.icon-custom-Buttercup                 {background-position: -86.880466% 0}/*  46/343 */
.icon-custom-Cactuar                   {background-position: -86.588921% 0}/*  47/343 */
.icon-custom-Cadence                   {background-position: -86.297376% 0}/*  48/343 */
.icon-custom-CarlSagan42               {background-position: -86.005831% 0}/*  49/343 */
.icon-custom-CasualZelda               {background-position: -85.714286% 0}/*  50/343 */
.icon-custom-MarvintheCat              {background-position: -85.422741% 0}/*  51/343 */
.icon-custom-CatBoo                    {background-position: -85.131195% 0}/*  52/343 */
.icon-custom-CD-iLink                  {background-position: -84.839650% 0}/*  53/343 */
.icon-custom-Celes                     {background-position: -84.548105% 0}/*  54/343 */
.icon-custom-Charizard                 {background-position: -84.256560% 0}/*  55/343 */
.icon-custom-CheepCheep                {background-position: -83.965015% 0}/*  56/343 */
.icon-custom-Chibity                   {background-position: -83.673469% 0}/*  57/343 */
.icon-custom-Chrizzz                   {background-position: -83.381924% 0}/*  58/343 */
.icon-custom-Cinna                     {background-position: -83.090379% 0}/*  59/343 */
.icon-custom-Cirno                     {background-position: -82.798834% 0}/*  60/343 */
.icon-custom-Clifford                  {background-position: -82.507289% 0}/*  61/343 */
.icon-custom-Clyde                     {background-position: -82.215743% 0}/*  62/343 */
.icon-custom-Conker                    {background-position: -81.924198% 0}/*  63/343 */
.icon-custom-Cornelius                 {background-position: -81.632653% 0}/*  64/343 */
.icon-custom-Corona                    {background-position: -81.341108% 0}/*  65/343 */
.icon-custom-Crewmate                  {background-position: -81.049563% 0}/*  66/343 */
.icon-custom-Cucco                     {background-position: -80.758017% 0}/*  67/343 */
.icon-custom-Cursor                    {background-position: -80.466472% 0}/*  68/343 */
.icon-custom-DOwls                     {background-position: -80.174927% 0}/*  69/343 */
.icon-custom-DarkPanda                 {background-position: -79.883382% 0}/*  70/343 */
.icon-custom-DarkBoy                   {background-position: -79.591837% 0}/*  71/343 */
.icon-custom-DarkGirl                  {background-position: -79.300292% 0}/*  72/343 */
.icon-custom-DarkLink-Tunic            {background-position: -79.008746% 0}/*  73/343 */
.icon-custom-DarkLink                  {background-position: -78.717201% 0}/*  74/343 */
.icon-custom-DarkSwatchy               {background-position: -78.425656% 0}/*  75/343 */
.icon-custom-DarkZelda                 {background-position: -78.134111% 0}/*  76/343 */
.icon-custom-DarkZora                  {background-position: -77.842566% 0}/*  77/343 */
.icon-custom-Deadpool-Mythic           {background-position: -77.551020% 0}/*  78/343 */
.icon-custom-Deadpool-SirCzah          {background-position: -77.259475% 0}/*  79/343 */
.icon-custom-Deadrock                  {background-position: -76.967930% 0}/*  80/343 */
.icon-custom-Decidueye                 {background-position: -76.676385% 0}/*  81/343 */
.icon-custom-Dekar                     {background-position: -76.384840% 0}/*  82/343 */
.icon-custom-DemonLink                 {background-position: -76.093294% 0}/*  83/343 */
.icon-custom-Dipper                    {background-position: -75.801749% 0}/*  84/343 */
.icon-custom-Dragonite                 {background-position: -75.510204% 0}/*  85/343 */
.icon-custom-DrakeTheDragon            {background-position: -75.218659% 0}/*  86/343 */
.icon-custom-Eggplant                  {background-position: -74.927114% 0}/*  87/343 */
.icon-custom-EmaSkye                   {background-position: -74.635569% 0}/*  88/343 */
.icon-custom-EmoSaru                   {background-position: -74.344023% 0}/*  89/343 */
.icon-custom-Ezlo                      {background-position: -74.052478% 0}/*  90/343 */
.icon-custom-FierceDeityLink           {background-position: -73.760933% 0}/*  91/343 */
.icon-custom-FinnMerten                {background-position: -73.469388% 0}/*  92/343 */
.icon-custom-FinnyBear                 {background-position: -73.177843% 0}/*  93/343 */
.icon-custom-FloodgateFish             {background-position: -72.886297% 0}/*  94/343 */
.icon-custom-FlavorGuy                 {background-position: -72.594752% 0}/*  95/343 */
.icon-custom-FoxLink                   {background-position: -72.303207% 0}/*  96/343 */
.icon-custom-FreyaCrescent             {background-position: -72.011662% 0}/*  97/343 */
.icon-custom-Frisk                     {background-position: -71.720117% 0}/*  98/343 */
.icon-custom-FrogLink                  {background-position: -71.428571% 0}/*  99/343 */
.icon-custom-Fujin                     {background-position: -71.137026% 0}/* 100/343 */
.icon-custom-FutureTrunks              {background-position: -70.845481% 0}/* 101/343 */
.icon-custom-Gamer                     {background-position: -70.553936% 0}/* 102/343 */
.icon-custom-MiniGanon                 {background-position: -70.262391% 0}/* 103/343 */
.icon-custom-Ganondorf                 {background-position: -69.970845% 0}/* 104/343 */
.icon-custom-Garfield                  {background-position: -69.679300% 0}/* 105/343 */
.icon-custom-Garnet                    {background-position: -69.387755% 0}/* 106/343 */
.icon-custom-GaroMaster                {background-position: -69.096210% 0}/* 107/343 */
.icon-custom-GBCLink                   {background-position: -68.804665% 0}/* 108/343 */
.icon-custom-Geno                      {background-position: -68.513120% 0}/* 109/343 */
.icon-custom-GliitchWiitch             {background-position: -68.221574% 0}/* 110/343 */
.icon-custom-Gobli                     {background-position: -67.930029% 0}/* 111/343 */
.icon-custom-Gooey                     {background-position: -67.638484% 0}/* 112/343 */
.icon-custom-Goomba                    {background-position: -67.346939% 0}/* 113/343 */
.icon-custom-Goose                     {background-position: -67.055394% 0}/* 114/343 */
.icon-custom-GrandPOOBear              {background-position: -66.763848% 0}/* 115/343 */
.icon-custom-Gretis                    {background-position: -66.472303% 0}/* 116/343 */
.icon-custom-GruncleStan               {background-position: -66.180758% 0}/* 117/343 */
.icon-custom-Guiz                      {background-position: -65.889213% 0}/* 118/343 */
.icon-custom-Hanna                     {background-position: -65.597668% 0}/* 119/343 */
.icon-custom-HardhatBeetle             {background-position: -65.306122% 0}/* 120/343 */
.icon-custom-HatKid                    {background-position: -65.014577% 0}/* 121/343 */
.icon-custom-HeadlessLink              {background-position: -64.723032% 0}/* 122/343 */
.icon-custom-HelloKitty                {background-position: -64.431487% 0}/* 123/343 */
.icon-custom-HeroofAwakening           {background-position: -64.139942% 0}/* 124/343 */
.icon-custom-HeroOfHyrule              {background-position: -63.848397% 0}/* 125/343 */
.icon-custom-Hidari                    {background-position: -63.556851% 0}/* 126/343 */
.icon-custom-HintTile                  {background-position: -63.265306% 0}/* 127/343 */
.icon-custom-Hoarder-Bush              {background-position: -62.973761% 0}/* 128/343 */
.icon-custom-Hoarder-Pot               {background-position: -62.682216% 0}/* 129/343 */
.icon-custom-Hoarder-Rock              {background-position: -62.390671% 0}/* 130/343 */
.icon-custom-HollowKnight-Malmo-Winter {background-position: -62.099125% 0}/* 131/343 */
.icon-custom-HollowKnight              {background-position: -61.807580% 0}/* 132/343 */
.icon-custom-HomerSimpson              {background-position: -61.516035% 0}/* 133/343 */
.icon-custom-Hotdog                    {background-position: -61.224490% 0}/* 134/343 */
.icon-custom-HyruleKnight              {background-position: -60.932945% 0}/* 135/343 */
.icon-custom-iBazly                    {background-position: -60.641399% 0}/* 136/343 */
.icon-custom-Ignignokt                 {background-position: -60.349854% 0}/* 137/343 */
.icon-custom-InformantWoman            {background-position: -60.058309% 0}/* 138/343 */
.icon-custom-Inkling                   {background-position: -59.766764% 0}/* 139/343 */
.icon-custom-InvisibleLink             {background-position: -59.475219% 0}/* 140/343 */
.icon-custom-JackFrost                 {background-position: -59.183673% 0}/* 141/343 */
.icon-custom-JasonFrudnick             {background-position: -58.892128% 0}/* 142/343 */
.icon-custom-Jasp                      {background-position: -58.600583% 0}/* 143/343 */
.icon-custom-Jogurt                    {background-position: -58.309038% 0}/* 144/343 */
.icon-custom-Kain                      {background-position: -58.017493% 0}/* 145/343 */
.icon-custom-Katsura                   {background-position: -57.725948% 0}/* 146/343 */
.icon-custom-Kecleon                   {background-position: -57.434402% 0}/* 147/343 */
.icon-custom-Kefka                     {background-position: -57.142857% 0}/* 148/343 */
.icon-custom-KennyMcCormick            {background-position: -56.851312% 0}/* 149/343 */
.icon-custom-Ketchup                   {background-position: -56.559767% 0}/* 150/343 */
.icon-custom-Kholdstare                {background-position: -56.268222% 0}/* 151/343 */
.icon-custom-KingGothalion             {background-position: -55.976676% 0}/* 152/343 */
.icon-custom-KingGraham                {background-position: -55.685131% 0}/* 153/343 */
.icon-custom-Kinu                      {background-position: -55.393586% 0}/* 154/343 */
.icon-custom-Kirby-Dreamland3          {background-position: -55.102041% 0}/* 155/343 */
.icon-custom-Kirby                     {background-position: -54.810496% 0}/* 156/343 */
.icon-custom-Kore8                     {background-position: -54.518950% 0}/* 157/343 */
.icon-custom-Korok                     {background-position: -54.227405% 0}/* 158/343 */
.icon-custom-Kriv                      {background-position: -53.935860% 0}/* 159/343 */
.icon-custom-Lakitu                    {background-position: -53.644315% 0}/* 160/343 */
.icon-custom-Lapras                    {background-position: -53.352770% 0}/* 161/343 */
.icon-custom-Lest                      {background-position: -53.061224% 0}/* 162/343 */
.icon-custom-Lily                      {background-position: -52.769679% 0}/* 163/343 */
.icon-custom-Linja                     {background-position: -52.478134% 0}/* 164/343 */
.icon-custom-LinkRedrawn               {background-position: -52.186589% 0}/* 165/343 */
.icon-custom-HatColorLink              {background-position: -51.895044% 0}/* 166/343 */
.icon-custom-TunicColorLink            {background-position: -51.603499% 0}/* 167/343 */
.icon-custom-LittleHylian              {background-position: -51.311953% 0}/* 168/343 */
.icon-custom-Pony                      {background-position: -51.020408% 0}/* 169/343 */
.icon-custom-Locke                     {background-position: -50.728863% 0}/* 170/343 */
.icon-custom-FigaroMerchant            {background-position: -50.437318% 0}/* 171/343 */
.icon-custom-Lucario                   {background-position: -50.145773% 0}/* 172/343 */
.icon-custom-Luffy                     {background-position: -49.854227% 0}/* 173/343 */
.icon-custom-Luigi                     {background-position: -49.562682% 0}/* 174/343 */
.icon-custom-LunaMaindo                {background-position: -49.271137% 0}/* 175/343 */
.icon-custom-Lynel-BotW                {background-position: -48.979592% 0}/* 176/343 */
.icon-custom-Madeline                  {background-position: -48.688047% 0}/* 177/343 */
.icon-custom-Magus                     {background-position: -48.396501% 0}/* 178/343 */
.icon-custom-Maiden                    {background-position: -48.104956% 0}/* 179/343 */
.icon-custom-Mallow-Cat                {background-position: -47.813411% 0}/* 180/343 */
.icon-custom-MangaLink                 {background-position: -47.521866% 0}/* 181/343 */
.icon-custom-MapleQueen                {background-position: -47.230321% 0}/* 182/343 */
.icon-custom-Marin                     {background-position: -46.938776% 0}/* 183/343 */
.icon-custom-Mario-Classic             {background-position: -46.647230% 0}/* 184/343 */
.icon-custom-TanookiMario              {background-position: -46.355685% 0}/* 185/343 */
.icon-custom-MarioandCappy             {background-position: -46.064140% 0}/* 186/343 */
.icon-custom-MarisaKirisame            {background-position: -45.772595% 0}/* 187/343 */
.icon-custom-Matthias                  {background-position: -45.481050% 0}/* 188/343 */
.icon-custom-Meatwad                   {background-position: -45.189504% 0}/* 189/343 */
.icon-custom-Medallions                {background-position: -44.897959% 0}/* 190/343 */
.icon-custom-Medli                     {background-position: -44.606414% 0}/* 191/343 */
.icon-custom-MegamanX                  {background-position: -44.314869% 0}/* 192/343 */
.icon-custom-BabyMetroid               {background-position: -44.023324% 0}/* 193/343 */
.icon-custom-MewLp                     {background-position: -43.731778% 0}/* 194/343 */
.icon-custom-MikeJones                 {background-position: -43.440233% 0}/* 195/343 */
.icon-custom-MinishLink                {background-position: -43.148688% 0}/* 196/343 */
.icon-custom-MinishCapLink             {background-position: -42.857143% 0}/* 197/343 */
.icon-custom-missingno                 {background-position: -42.565598% 0}/* 198/343 */
.icon-custom-Moblin                    {background-position: -42.274052% 0}/* 199/343 */
.icon-custom-ModernLink                {background-position: -41.982507% 0}/* 200/343 */
.icon-custom-Mog                       {background-position: -41.690962% 0}/* 201/343 */
.icon-custom-MomijiInubashiri          {background-position: -41.399417% 0}/* 202/343 */
.icon-custom-Moosh                     {background-position: -41.107872% 0}/* 203/343 */
.icon-custom-Mouse                     {background-position: -40.816327% 0}/* 204/343 */
.icon-custom-MsPaintDog                {background-position: -40.524781% 0}/* 205/343 */
.icon-custom-PowerUpwithPrideMushroom  {background-position: -40.233236% 0}/* 206/343 */
.icon-custom-NatureLink                {background-position: -39.941691% 0}/* 207/343 */
.icon-custom-Navi                      {background-position: -39.650146% 0}/* 208/343 */
.icon-custom-Navirou                   {background-position: -39.358601% 0}/* 209/343 */
.icon-custom-NedFlanders               {background-position: -39.067055% 0}/* 210/343 */
.icon-custom-NegativeLink              {background-position: -38.775510% 0}/* 211/343 */
.icon-custom-Neosad                    {background-position: -38.483965% 0}/* 212/343 */
.icon-custom-NESLink                   {background-position: -38.192420% 0}/* 213/343 */
.icon-custom-Ness                      {background-position: -37.900875% 0}/* 214/343 */
.icon-custom-Nia                       {background-position: -37.609329% 0}/* 215/343 */
.icon-custom-Niddraig                  {background-position: -37.317784% 0}/* 216/343 */
.icon-custom-Niko                      {background-position: -37.026239% 0}/* 217/343 */
.icon-custom-OldMan                    {background-position: -36.734694% 0}/* 218/343 */
.icon-custom-Ori                       {background-position: -36.443149% 0}/* 219/343 */
.icon-custom-OutlineLink               {background-position: -36.151603% 0}/* 220/343 */
.icon-custom-ParallelWorldsLink        {background-position: -35.860058% 0}/* 221/343 */
.icon-custom-Paula                     {background-position: -35.568513% 0}/* 222/343 */
.icon-custom-PrincessPeach             {background-position: -35.276968% 0}/* 223/343 */
.icon-custom-PenguinLink               {background-position: -34.985423% 0}/* 224/343 */
.icon-custom-Pete                      {background-position: -34.693878% 0}/* 225/343 */
.icon-custom-PhoenixWright             {background-position: -34.402332% 0}/* 226/343 */
.icon-custom-Pikachu                   {background-position: -34.110787% 0}/* 227/343 */
.icon-custom-PinkRibbonLink            {background-position: -33.819242% 0}/* 228/343 */
.icon-custom-PiranhaPlant              {background-position: -33.527697% 0}/* 229/343 */
.icon-custom-PlagueKnight              {background-position: -33.236152% 0}/* 230/343 */
.icon-custom-Pokey                     {background-position: -32.944606% 0}/* 231/343 */
.icon-custom-Popoi                     {background-position: -32.653061% 0}/* 232/343 */
.icon-custom-Poppy                     {background-position: -32.361516% 0}/* 233/343 */
.icon-custom-PorgKnight                {background-position: -32.069971% 0}/* 234/343 */
.icon-custom-PowerRanger               {background-position: -31.778426% 0}/* 235/343 */
.icon-custom-PowerpuffGirl             {background-position: -31.486880% 0}/* 236/343 */
.icon-custom-PrideLink                 {background-position: -31.195335% 0}/* 237/343 */
.icon-custom-Primm                     {background-position: -30.903790% 0}/* 238/343 */
.icon-custom-PrincessBubblegum         {background-position: -30.612245% 0}/* 239/343 */
.icon-custom-TheProfessor              {background-position: -30.320700% 0}/* 240/343 */
.icon-custom-Psyduck                   {background-position: -30.029155% 0}/* 241/343 */
.icon-custom-ThePug                    {background-position: -29.737609% 0}/* 242/343 */
.icon-custom-PurpleChest               {background-position: -29.446064% 0}/* 243/343 */
.icon-custom-Pyro                      {background-position: -29.154519% 0}/* 244/343 */
.icon-custom-QuadBanger                {background-position: -28.862974% 0}/* 245/343 */
.icon-custom-RainbowLink               {background-position: -28.571429% 0}/* 246/343 */
.icon-custom-Rat                       {background-position: -28.279883% 0}/* 247/343 */
.icon-custom-RedMage                   {background-position: -27.988338% 0}/* 248/343 */
.icon-custom-Remeer                    {background-position: -27.696793% 0}/* 249/343 */
.icon-custom-RemusRBlack               {background-position: -27.405248% 0}/* 250/343 */
.icon-custom-Rick                      {background-position: -27.113703% 0}/* 251/343 */
.icon-custom-Robo-Link9000             {background-position: -26.822157% 0}/* 252/343 */
.icon-custom-Rocko                     {background-position: -26.530612% 0}/* 253/343 */
.icon-custom-Rottytops                 {background-position: -26.239067% 0}/* 254/343 */
.icon-custom-Rover                     {background-position: -25.947522% 0}/* 255/343 */
.icon-custom-RoyKoopa                  {background-position: -25.655977% 0}/* 256/343 */
.icon-custom-Rumia                     {background-position: -25.364431% 0}/* 257/343 */
.icon-custom-Rydia                     {background-position: -25.072886% 0}/* 258/343 */
.icon-custom-Ryu                       {background-position: -24.781341% 0}/* 259/343 */
.icon-custom-SailorMoon                {background-position: -24.489796% 0}/* 260/343 */
.icon-custom-Saitama                   {background-position: -24.198251% 0}/* 261/343 */
.icon-custom-Samus-SuperMetroid        {background-position: -23.906706% 0}/* 262/343 */
.icon-custom-Samus                     {background-position: -23.615160% 0}/* 263/343 */
.icon-custom-Samus-Classic             {background-position: -23.323615% 0}/* 264/343 */
.icon-custom-SantaHatLink              {background-position: -23.032070% 0}/* 265/343 */
.icon-custom-SantaLink                 {background-position: -22.740525% 0}/* 266/343 */
.icon-custom-Scholar                   {background-position: -22.448980% 0}/* 267/343 */
.icon-custom-Selan                     {background-position: -22.157434% 0}/* 268/343 */
.icon-custom-SevenS1ns                 {background-position: -21.865889% 0}/* 269/343 */
.icon-custom-Shadow                    {background-position: -21.574344% 0}/* 270/343 */
.icon-custom-ShadowSakura              {background-position: -21.282799% 0}/* 271/343 */
.icon-custom-Shantae                   {background-position: -20.991254% 0}/* 272/343 */
.icon-custom-Shuppet                   {background-position: -20.699708% 0}/* 273/343 */
.icon-custom-ShyGal                    {background-position: -20.408163% 0}/* 274/343 */
.icon-custom-ShyGuy                    {background-position: -20.116618% 0}/* 275/343 */
.icon-custom-SighnWaive                {background-position: -19.825073% 0}/* 276/343 */
.icon-custom-Skunk                     {background-position: -19.533528% 0}/* 277/343 */
.icon-custom-DQSlime                   {background-position: -19.241983% 0}/* 278/343 */
.icon-custom-Slowpoke                  {background-position: -18.950437% 0}/* 279/343 */
.icon-custom-SNESController            {background-position: -18.658892% 0}/* 280/343 */
.icon-custom-SodaCan                   {background-position: -18.367347% 0}/* 281/343 */
.icon-custom-SolaireofAstora           {background-position: -18.075802% 0}/* 282/343 */
.icon-custom-HyruleSoldier             {background-position: -17.784257% 0}/* 283/343 */
.icon-custom-SonictheHedgehog          {background-position: -17.492711% 0}/* 284/343 */
.icon-custom-Sora                      {background-position: -17.201166% 0}/* 285/343 */
.icon-custom-Sora-KH1                  {background-position: -16.909621% 0}/* 286/343 */
.icon-custom-SpongeBobSquarePants      {background-position: -16.618076% 0}/* 287/343 */
.icon-custom-Squall                    {background-position: -16.326531% 0}/* 288/343 */
.icon-custom-Squirrel                  {background-position: -16.034985% 0}/* 289/343 */
.icon-custom-Squirtle                  {background-position: -15.743440% 0}/* 290/343 */
.icon-custom-Stalfos                   {background-position: -15.451895% 0}/* 291/343 */
.icon-custom-Stan                      {background-position: -15.160350% 0}/* 292/343 */
.icon-custom-StaticLink                {background-position: -14.868805% 0}/* 293/343 */
.icon-custom-SteamedHam                {background-position: -14.577259% 0}/* 294/343 */
.icon-custom-StickMan                  {background-position: -14.285714% 0}/* 295/343 */
.icon-custom-SuperBomb                 {background-position: -13.994169% 0}/* 296/343 */
.icon-custom-SuperBunny                {background-position: -13.702624% 0}/* 297/343 */
.icon-custom-SuperMeatBoy              {background-position: -13.411079% 0}/* 298/343 */
.icon-custom-Susie                     {background-position: -13.119534% 0}/* 299/343 */
.icon-custom-Swatchy                   {background-position: -12.827988% 0}/* 300/343 */
.icon-custom-TASBot                    {background-position: -12.536443% 0}/* 301/343 */
.icon-custom-TeaTime                   {background-position: -12.244898% 0}/* 302/343 */
.icon-custom-Terra-Esper               {background-position: -11.953353% 0}/* 303/343 */
.icon-custom-Terry                     {background-position: -11.661808% 0}/* 304/343 */
.icon-custom-TetraSheet                {background-position: -11.370262% 0}/* 305/343 */
.icon-custom-TGH                       {background-position: -11.078717% 0}/* 306/343 */
.icon-custom-Thief                     {background-position: -10.787172% 0}/* 307/343 */
.icon-custom-ThinkDorm                 {background-position: -10.495627% 0}/* 308/343 */
.icon-custom-Thomcrow                  {background-position: -10.204082% 0}/* 309/343 */
.icon-custom-Tile                      {background-position:  -9.912536% 0}/* 310/343 */
.icon-custom-Tingle                    {background-position:  -9.620991% 0}/* 311/343 */
.icon-custom-TMNT                      {background-position:  -9.329446% 0}/* 312/343 */
.icon-custom-Toad                      {background-position:  -9.037901% 0}/* 313/343 */
.icon-custom-Toadette                  {background-position:  -8.746356% 0}/* 314/343 */
.icon-custom-CaptainToadette           {background-position:  -8.454810% 0}/* 315/343 */
.icon-custom-TotemLinks                {background-position:  -8.163265% 0}/* 316/343 */
.icon-custom-TrogdortheBurninator      {background-position:  -7.871720% 0}/* 317/343 */
.icon-custom-TPZelda                   {background-position:  -7.580175% 0}/* 318/343 */
.icon-custom-TwoFaced                  {background-position:  -7.288630% 0}/* 319/343 */
.icon-custom-TytheTasmanianTiger       {background-position:  -6.997085% 0}/* 320/343 */
.icon-custom-Ultros                    {background-position:  -6.705539% 0}/* 321/343 */
.icon-custom-Valeera                   {background-position:  -6.413994% 0}/* 322/343 */
.icon-custom-VanillaLink               {background-position:  -6.122449% 0}/* 323/343 */
.icon-custom-Vaporeon                  {background-position:  -5.830904% 0}/* 324/343 */
.icon-custom-Vegeta                    {background-position:  -5.539359% 0}/* 325/343 */
.icon-custom-Vera                      {background-position:  -5.247813% 0}/* 326/343 */
.icon-custom-Vitreous                  {background-position:  -4.956268% 0}/* 327/343 */
.icon-custom-Vivi                      {background-position:  -4.664723% 0}/* 328/343 */
.icon-custom-Vivian                    {background-position:  -4.373178% 0}/* 329/343 */
.icon-custom-Wario                     {background-position:  -4.081633% 0}/* 330/343 */
.icon-custom-WhiteMage                 {background-position:  -3.790087% 0}/* 331/343 */
.icon-custom-Will                      {background-position:  -3.498542% 0}/* 332/343 */
.icon-custom-Wizzrobe                  {background-position:  -3.206997% 0}/* 333/343 */
.icon-custom-WolfLink-Festive          {background-position:  -2.915452% 0}/* 334/343 */
.icon-custom-WolfLink-TP               {background-position:  -2.623907% 0}/* 335/343 */
.icon-custom-Yoshi                     {background-position:  -2.332362% 0}/* 336/343 */
.icon-custom-YunicaTovah               {background-position:  -2.040816% 0}/* 337/343 */
.icon-custom-Zandra                    {background-position:  -1.749271% 0}/* 338/343 */
.icon-custom-ZebraUnicorn              {background-position:  -1.457726% 0}/* 339/343 */
.icon-custom-Zeckemyro                 {background-position:  -1.166181% 0}/* 340/343 */
.icon-custom-Zelda                     {background-position:  -0.874636% 0}/* 341/343 */
.icon-custom-ZeroSuitSamus             {background-position:  -0.583090% 0}/* 342/343 */
.icon-custom-Zora                      {background-position:  -0.291545% 0}/* 343/343 */
