[class*=" icon-custom-"],
[class^=icon-custom-] {
  width:            16px;
  height:           24px;
  vertical-align:   bottom;
  background-image: url(https://miketrethewey.github.io/SpriteSomething-collections/snes/zelda3/link/sheets/previews/sprites.31.0.8.x.6.png);
}
.icon-custom-Random  {background-position:0 0}
.icon-custom-Link    {background-position:-100.000000% 0}/* 1/3 */
.icon-custom-Bob     {background-position: -66.666667% 0}/* 2/3 */
.icon-custom-StickMan{background-position: -33.333333% 0}/* 3/3 */
